<div class="row">
    <div class="col-9 no-right-padding">
        <div class="results-block">
            <%= render 'layouts/messages' %>
        </div>

        <%if @friends %>
        <div class="card card-header results-block">
            <table class="col-md-12">
                <tbody>
                    <% @friends.each do |friend|%>
                    <tr>
                        <td><strong>Name: </strong> <%= friend.full_name%></td>
                        <td><strong>E-Mail: </strong> <%= friend.email%></td>
                        <td><%= link_to "Profil", user_path(friend),
                                 class:"btn btn-sm btn-info ml-1" %>
                            <% if current_user.not_friends_with?(friend.id)%>
                            <%= link_to 'Folgen', friendships_path(friend: friend), 
                                class:"btn btn-success btn-sm ml-1", method: :post %>
                            <% else %>
                            <span class="badge">
                                Bereits befreundet
                            </span>

                            <% end %> </td>
                    </tr>
                    <%end %>
                </tbody>
            </table>
        </div>
        <%end%>
    </div>
</div>