<div class="row">
    <div class="col-9 no-right-padding">
        <div class="results-block">
            <%= render 'layouts/messages' %>
        </div>

        <%if @friend %>
        <div class="card card-header results-block">
            <strong>Name: </strong> <%= @friend%>
            <strong>E-Mail: </strong> <%= @friend%>
            <strong>Letzter Preis: </strong> <%= @friend%>
            <%= link_to 'Folgen', '#', 
                                class:"btn btn-success btn-sm ml-3", method: :post%>
        </div>
        <%end%>
    </div>
</div>