<div class="row">
    <div class="col-12">
        <div class="search-area">
            <%= form_tag search_stock_path, remote: true, method: :get do %>
            <h3>Aktienkurse anzeigen:</h3>
            <div class="form-group row">
                <div class="col-sm-9 no-right-padding">
                    <%= text_field_tag :stock, params[:stock], placeholder: "Tickersymbol", autofocus: true, class:"form-control form-control-lg"%>
                </div>
                <div class="col-sm-3 no-left-padding">
                    <%= button_tag type: :submit, class:"btn btn-success" do%>
                    <%= fa_icon "search 2x" %>
                    <% end%>
                </div>
            </div>
            <%end%>
            <div class="mb-1" id="results"></div>
        </div>
        <% if !@tracked_stocks.empty?%>
        <%= render 'stocks/list' %>
        <% end%>
        <div class="row">
            <div class="col-sm-9 no-right-padding">
                <div class="card-header card-top-10">
                    <h4>Top 10 Aktien nach Index:</h4>
                    1. Microsoft Corp. (MSFT)
                    2. Apple Inc. (AAPL)
                    3. Amazon.com Inc. (AMZN)
                    4. Facebook Inc. (FB)
                    5. Alphabet Inc. Class A Shares (GOOGL)
                    6. Alphabet Inc. Class C Shares (GOOG)
                    7. Johnson & Johnson (JNJ)
                    8. Berkshire Hathaway Inc. (BRK.B)
                    9. Visa Inc. (V)
                    10. Procter & Gamble (PG)
                </div>
            </div>
        </div>
    </div>

</div>